/********************************************************
 Genareal typography
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$main-font: "Open Sans", "Arial", "Sans-serif";

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 20%);
  }
}
