/********************************************************
 Genareal variables
*********************************************************/

$browser-context: 16; // For pixel to em-convertion

// Breakpoints
$mobile-breakpoint: 420px;

// Colors
$todo-white: #ffffff;
$todo-blue: #f4f7fa;
$todo-red: #e74c3c;
$todo-border: #dadada;
$todo-container-border: #ececec;
$todo-complete-color: #999999;

$link-color: #448ccb;
$text-color: #333333;

$main-background: #f6f5f5;
$component-background: $todo-white;

$input-border-color: #b6b6b6;
$button-text-color: #454545;

// Other
$small-spacing: em(5);
$medium-spacing: em(10);
$large-spacing: em(20);

$small-text-size: em(13);
$medium-text-size: em(16);

$main-border-radius: 5px;
