/********************************************************
 Genareal variables
*********************************************************/

$main-background: #f6f5f5;
$spacing: em(20);

$link-color: #448ccb;
$text-color: #333333;
$text-complete-color: #999999;
$button-text-color: #454545;
$mobile-breakpoint:420px;

$todo-blue: #f4f7fa;
$todo-border: #dadada;
$todo-container-border: #ececec;
$todo-mark-complete: #448ccb;
$component-bg: #ffffff;
$input-border-color: #b6b6b6;
