/********************************************************
 Todo.App Header
*********************************************************/

.todo-heading {
  text-align: center;
  padding: em(20);
  border-bottom: 1px dashed $todo-border;
}


/********************************************************
 Todo.REACT Add component
*********************************************************/

.todo-create {
  @include cf;

  padding: $large-spacing;
  vertical-align: middle;

  .input-cell {
    float:left;
    width: 100%;
    margin-bottom: $small-spacing;

    input {
      @include text-input;
      height: em(50);
    }
  }

  .button-cell {
    float:left;
    width: 100%;
    text-align: center;

    a {
      @include button;

      width: 100%;
      height: em(50);
      display: inline-block;
    }
  }

  @media only screen and (min-device-width: $mobile-breakpoint) {

    .input-cell {
      width: 68%;
      padding-right: $small-spacing;
      margin-bottom: 0;
    }

    .button-cell {
      width: 32%;
      padding-left: $small-spacing;
    }
  }
}


/********************************************************
 Todo.REACT List component
*********************************************************/
.alert-box {
  text-align: center;

  &.error {
    color: $todo-red;
  }
}

.todos-list {
  @include reset-list;
  padding-bottom: em(60);

  li {
    &.placeholder {
      background: darken($todo-blue, 30%);
    }

    &.placeholder:before {
      content: "Drop here";
      color: $todo-white;
    }
  }


  /********************************************************
   Todo.REACT ListItem component
  *********************************************************/

  .todo-item {
    padding: em(15);

    .todo-text {
      padding-left: $medium-spacing;
      font-size: $medium-text-size;
      display: inline-block;
    }

    .drag {
      height: em(22);
      width: $medium-spacing;
      visibility: hidden;
      display: inline-block;
      float:right;
      background-image: url("images/drag-handle.png");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover {
      .drag {
        visibility: visible;
      }
    }

    &.complete {

      .todo-text {
        text-decoration: line-through;
        color: $todo-complete-color;
      }
    }

    &.even {
      background-color: $todo-blue;
    }

    input[type="checkbox"] {
        margin-left: $medium-spacing;
        display: none;
    }

    input[type="checkbox"] + label .checkbox {
        display:inline-block;
        width: em(22);
        height: em(22);
        margin: -1px 4px 0 0;
        vertical-align: middle;
        background: url(images/unchecked.png) center center no-repeat;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label .checkbox {
        background: url(images/checked.png) center center no-repeat;
    }
  }
}


/********************************************************
 Todo.REACT Footer component
*********************************************************/

.todo-footer {
  @include cf;

  padding: $large-spacing;
  border-top: 1px dashed $todo-border;
  font-size: $small-text-size;

  div {
    width: 50%;
    float: left;

    &.remaning-cell {
      color: $todo-complete-color;
    }

    &.complete-all-cell {
      text-align: right;
    }
  }
}
